*{
  margin:0;
  padding:0;
  font-family:"poppins",sans-serif;
  box-sizing: border-box;
}

.basic{
  text-align: center;
  color: blue;
  border:2px solid green;
  max-width:fit-content;
  button{
    padding: 20px;
    font-size: 20px;
    margin-top: 20px;
    margin-left:30px;
    border-radius: 50px;
    
  }
  label{
    margin-top: 20px;
  }
  span{
    display:block ;
  }
  }

/* counter */

.pink {
  border: 3px double red;
  text-align:center;
  max-width:300px;
  margin-bottom: 50px;
  color: black;
  cursor: pointer;

  h1{
    text-decoration:underline;
    margin-left: 20px,0px,0px,20px;
  }
  label {
    display: block;
    margin-left: 20px;
    font-size: 28px;
  }
  h1 {
    color: brown;
  }
  #one{
 button {
    border-radius: 50%;
    padding: 20px;
    margin-left: 100px;
    max-width:max-content;
    text-align: center;
    display: block;
    font-size: 20px;
    background-color:firebrick;
  }
  }
 
}
/* todolist */
 .doto{
  text-align: left;
  max-width: max-content;
  border: 2px dashed rebeccapurple;
  max-width: 400px;
  margin: auto;
  h2{
    text-align: center;
    color: gray;
  }
  input{
    padding: 20px;
  }
  form{
    text-align: center;
  }
  button{
    background-color: aqua;
  }
  ul{
    list-style-type: none;
    padding: 0px;
    li{
      margin-top: 10px;
      text-align: left;
      span{
        cursor: pointer;
        margin-left: 8px;
      }
      button{
        margin-left: 10px;
        display: block;
        background-color: blueviolet;
      }
    }
  }
 }
  /* hideshow */
  .show
  {
  max-width: max-content;
  margin:20px;
  text-align: center;
  input{
    margin-top: 30px;
  }
  .hide{
    margin-top: 10px;
  }
 } 
 /* apifetch */

  .api {
    max-width:fit-content;
      margin-bottom:10px;
      text-align: center;
      h1{
        color:brown;
      }
  }
  cards
  .soley{
    text-align: center;
  }
  #prac{
    text-align: center;
    background-color: bisque;
    margin-top: 50px;
  } 
